---
{% if exists("title") %}title: {{title}}{% else if exists("name") %}title: {{name}}{% endif %}
{% if exists("summary") %}summary: {{summary}} {% endif%}
{% include "meta" %}
---

{% if exists("kind") and kind == "page" and exists("refid") and refid == "_index" %}# {{title}}{% endif %}
{% if exists("kind") and kind != "page" %}**{{name}} {{title(kind)}} Reference**{% endif %}
