---
{% if exists("title") %}title: {{title}}{% else if exists("name") %}title: {{name}}{% endif %}
{% if exists("summary") %}summary: {{summary}} {% endif%}
{% include "meta" %}
type: docs
---

{% if exists(title) %}# {{title}}{% else if exists("kind") %}# {{name}} {{title(kind)}} Reference{% endif %}
