site_name: Doxybook2 Example
theme:
  name: 'readthedocs'
markdown_extensions:
  - admonition
  - pymdownx.tilde
  - pymdownx.arithmatex:
      generic: true
extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
