build*/
temp/
example/doxygen/
install/
.vscode/
.vs/
*.kdev4
*~
doxybook2-*.zip

example/**/*.md
example/**/images/
example/**/*.json
example/**/public/
example/**/resources/
example/**/dist/
node_modules/
_book/
!package-lock.json
!book.json
!config.json
!menu.md
